<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<h2>Все пользователи:</h2>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Действия</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.age}"></td>

        <td>
            <table>
                <tr>
                    <td>
                        <form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
                            <input type="submit" value="Редактировать"/>
                        </form>
                    </td>
                    <td>
                        <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                            <input type="submit" value="Удалить"/>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td>
            <form th:method="GET" th:action="@{/users/new}">
                <input type="submit" value="Добавить нового пользователя"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/users}">
                <input type="submit" value="Удалить всех пользователей"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>